@import "tailwindcss";

:root {
  --background: #FAFAF9;  /* Stone-50 */
  --foreground: #1c1917;  /* Stone-900 */
  
  --accent: #C8A663;
  --accent-hover: #b39152; /* Iets donkerder goud voor interactie */
  --accent-light: #f4efdf; /* Heel licht goud voor subtiele vlakken */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-light: var(--accent-light);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #FAFAF9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}